/*------------------------------------*\
    HEADER
\*------------------------------------*/

.navbar-brand {
    margin-right: auto;
    width: auto;
    max-width: 300px;
    white-space: normal;
    float: left;
    font-family: $font-alternative;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: .02em;
    text-transform: uppercase;
}
.logo-placeholder {
    display: block;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
.logo-img {
    max-height: 50px;
}
.navbar {
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
    .menu-item {
        display: block;
        margin: 0 .5rem;
        a {
            padding: .25rem .5rem .35rem;
            display: block;
            position: relative;
            font-size: .95rem;
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                height: 1px;
                width: 0;
                background-color: #000;
                display: block;
                transition: width 300ms ease;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
        }
        a:hover,
        a:focus,
        &.current-menu-item a {
            &:before {
                width: 100%;
            }
            &:after {
                width: 50%;
            }
        }
    }
}
.site-title {
    font-size: 1.5rem;
    margin: .5rem auto;
}
.site-description {
	font-size: 1rem;
	line-height: 1.2;
	margin-bottom: 0;
    font-weight: 400;
}
.navbar-toggler {
	outline: none;
	font: inherit;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 1rem;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.navbar-toggler.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}
.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
    position: absolute;
    width: 30px;
    height: 1px;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
    transition-property: transform;
    background-color: #000;
}
.hamburger-inner:after, 
.hamburger-inner:before {
    display: block;
    content: "";
}
.hamburger-inner:before {
	top: -10px;
    transition: top 75ms ease .12s,opacity 75ms ease;
}
.hamburger-inner:after {
    bottom: -10px;
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}
.navbar-toggler.is-active .hamburger-inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0;
}
.navbar-toggler.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
}
.navbar-toggler:focus, 
.navbar-toggler:hover {
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: none;
    color: inherit;
}

.site-header .btn {
    float: right;
    &:after {
        content: "";
        height: 18px;
        width: 11px;
        display: inline-block;
        background: transparent url('../img/cell-phone.svg') center center no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-left: 1rem;
        margin-top: -6px;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .logo-img {
        max-height: 40px;
    }
    .navbar .collapse {
        display: none;  
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 5;
        &.show {
            display: flex;
        }
    }
    .navbar-nav {
        margin: auto;
        .menu-item {
            margin: .5rem;
            text-align: center;
            a {
                font-size: 1.5rem;
            }
        }
    }
    .navbar-toggler {
        z-index: 6;
    }
}

@media (max-width: 575px) {
    .logo-img {
        max-height: 35px;
    }
    .site-header .btn {
        display: none;
    }
}
